* {
  /* Set no padding and no margin for all elements.
  Set border-box size for all elements. */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* Color for the whole page*/
  background-color: #ABAAB8;
}
.header div{
  /* Styling for the header*/
  display: inline-flex;
  flex-flow: row nowrap;
  background-color: #474787;
}

.header {
  background-color: #474787;
}
#logo {
  display: inline-flex;
  align-self: flex-start;
  padding: 1em;
  background-color: #ABAAB8;
  border-radius: 0 50px 50px 0;
}

.navigation {
  display: inline-flex;
  align-self: flex-end;
}

.navigation ul {
  display: flex;
  padding: 1em;
  
}