body {
  font-family: Verdana, Arial, sans-serif;
  background-color: #ABAAB8;
}

header {
  background-color: #2D2C54;
}

.headerimage {
  width: 100%;
}

.slogan {
  color: #ABAAB8;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* .headerimglogan {

} */

.logo {
  font-size: 2em;
  color: #2D2C54;
  padding: 1vh;
  border-radius: 0 50px 50px 0;
  background-color: #FCFBFB;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
}

.noullinknosh {
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar {
  display: inline-block;
}

.navbar ul {

}

.navbar ul li{
  display: inline-block;
}

.navbar ul a {
  color: #FCFBFB;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(182, 181, 181, 0.5);
  -webkit-text-stroke: 1px black; /* For Safari */
  text-stroke: 1px black; /* For Firefox */
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

p {
  line-height: 1.2em;
}

/* .aboutsection {

}

.aboutmelink {

}

.aboutmep {

}

.worksection {

}


.projects {

}

.workseclink {

}

footer {

}

.contactinfoot {

}

.footphone {

}

.footemail {

}

.footgithub {

} 

.projname {
}
*/

.worksection .text-box {
  background-color: #FCFBFB;
  color:#2D2C54;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0 50px 50px 0;
  font-size: .95em;
}

.worksection .text-box .projdate {
  font-size: .75em;
}